n8n_workflows/l2laaf_autonomous_orchestrator.main.json
{
  "name": "L2LAAF Autonomous Orchestrator (PROD)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-bus-v2-prod",
        "options": {}
      },
      "id": "bus-trigger-prod",
      "name": "Agent Bus Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 400],
      "webhookId": "agent-bus-v2-prod-hook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"contents\": [{ \"parts\": [{ \"text\": \"Audit PROD change: Path: {{ $json.body.payload.manifest.targetPath }}. Identify high-impact risks for production.\" }] }] }",
        "options": {}
      },
      "id": "validator-agent-prod",
      "name": "Validator Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [300, 400],
      "credentials": {
        "httpHeaderAuth": { "id": "Gemini API Key", "name": "Gemini API Key" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.googleapis.com/v1/spaces/AAQAQxcghNA/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=gr9imhTgfAXF0zNK8TrwWFnw2K0QfPsL41igSuuoFEw",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"text\": \"🚨 **PRODUCTION PROPOSAL: {{ $node['Agent Bus Trigger'].json.body.payload.manifest.targetPath }}**\\n\\n🛡️ **AUDIT:** {{ $node['Validator Agent'].json.candidates[0].content.parts[0].text }}\" }",
        "options": {}
      },
      "id": "chat-notify-prod",
      "name": "Google Chat Card",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [600, 400]
    }
  ],
  "connections": {
    "Agent Bus Trigger": { "main": [[{ "node": "Validator Agent", "type": "main", "index": 0 }]] },
    "Validator Agent": { "main": [[{ "node": "Google Chat Card", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "saveExecutionProgress": true }
}