n8n_workflows/l2laaf_autonomous_orchestrator.develop.json
{
  "name": "L2LAAF: Autonomous Orchestrator - DEV",
  "nodes": [
    {
      "parameters": {
        "content": "## \ud83e\udd16 L2LAAF Orchestrator\n**Phase:** 43.1.35\n**Commit:** 43.1.35 - CHORE(testing): Reset environment for fresh end-to-end Live UI Mutation test execution",
        "height": 150,
        "width": 926,
        "color": 6
      },
      "id": "9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        96,
        -176
      ]
    },
    {
      "parameters": {},
      "id": "e45a5b6c-7d8e-9f0a-1b2c-3d4e5f6a7b8c",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        112,
        1072
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.googleapis.com/v1/spaces/AAQAQxcghNA/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=gr9imhTgfAXF0zNK8TrwWFnw2K0QfPsL41igSuuoFEw",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"cardsV2\": [ { \"cardId\": \"l2laaf_error_gate\", \"card\": { \"header\": { \"title\": \"\ud83d\udea8 n8n Workflow Error\", \"subtitle\": \"L2LAAF Autonomous Orchestrator\" }, \"sections\": [{ \"widgets\": [ { \"textParagraph\": { \"text\": \"<b>Failing Node:</b><br>\" + $json.execution.lastNodeExecuted + \"<br><br><b>Error Message:</b><br>\" + $json.execution.error.message } } ] }] } } ] } }}",
        "options": {}
      },
      "id": "c1d2e3f4-a5b6-4870-981a-b7c6errornode",
      "name": "Error Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        336,
        1072
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b8f49bcc-cb60-4c00-9f8c-ae008be7b5b3",
        "options": {}
      },
      "id": "f8a44b1c-9e62-4299-90b5-4db9d51e7c02",
      "name": "MCP Code Payload",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        112,
        208
      ],
      "webhookId": "b8f49bcc-cb60-4c00-9f8c-ae008be7b5b3"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "local2local",
        "repository": "local2local",
        "filePath": ".l2laaf/state.json",
        "additionalParameters": {}
      },
      "id": "c7e2b1fa-8a56-4f40-811a-6d0e9a7e6b03",
      "name": "Fetch Main State",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        336,
        208
      ],
      "webhookId": "34e5b124-b6ea-472c-83c0-244f09fefe5d",
      "credentials": {
        "githubApi": {
          "id": "6OSt2bN1T5JeIKvt",
          "name": "GitHub L2LAAF Admin (n8n-l2laaf-orchestrator)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return (async () => {\n  const webhookNode = $(\"MCP Code Payload\").first();\n  const meta = webhookNode.json?.body || webhookNode.json || {};\n  \n  if (meta.commits || meta.pusher || meta.probe) return [];\n  \n  const stateNode = $(\"Fetch Main State\").first();\n  let stateRaw = null;\n  if (stateNode.json && typeof stateNode.json.content === 'string') { stateRaw = stateNode.json.content; }\n  if (!stateRaw && stateNode.binary && stateNode.binary.data) {\n    const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n    stateRaw = buffer.toString('utf8');\n  }\n  if (!stateRaw || stateRaw === \"undefined\") throw new Error(\"FATAL: state.json content is missing.\");\n  let state;\n  try { state = JSON.parse(stateRaw); } catch (e) { state = JSON.parse(Buffer.from(stateRaw, 'base64').toString('utf8')); }\n  let updatedState = { ...state };\n  updatedState.current_phase = (meta.incoming_phase || state.current_phase || \"43.1.35\").toString();\n  return [{ json: { updated_state: updatedState, meta: meta } }];\n})();"
      },
      "id": "b25c3891-76a0-4b21-8f5d-1c8a5f3e9b04",
      "name": "State Manager",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        560,
        208
      ]
    },
    {
      "parameters": {
        "url": "={{ \"https://firestore.googleapis.com/v1/projects/\" + ($json.meta.env === 'prod' ? 'local2local-prod' : 'local2local-dev') + \"/databases/(default)/documents/artifacts/system_status/public/data/telemetry\" }}",
        "options": {}
      },
      "id": "2bc59b88-1250-4824-b152-dc72de6f3d1b",
      "name": "Fetch System Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        784,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const stateManager = $(\"State Manager\").first().json;\nconst systemStatusData = $(\"Fetch System Status\").first().json || {};\nlet currentStatus = \"GREEN\";\nif (systemStatusData.documents && Array.isArray(systemStatusData.documents)) {\n  const currentDoc = systemStatusData.documents.find(doc => doc.name.endsWith('telemetry/current'));\n  if (currentDoc && currentDoc.fields && currentDoc.fields.status) {\n    currentStatus = currentDoc.fields.status.stringValue || \"GREEN\";\n  }\n}\nconst summary = stateManager.meta?.summary || \"\";\nconst isBugFix = summary.toLowerCase().startsWith(\"fix\") || summary.toLowerCase().startsWith(\"hotfix\") || summary.toLowerCase().includes(\"fix(\");\nconst intent = isBugFix ? \"BUG_FIX\" : \"FUNCTIONALITY\";\nlet throttleDecision = \"PROCEED\";\nlet throttleMessage = \"Proceeding with deployment.\";\nif (currentStatus === \"RED\") {\n  if (intent === \"FUNCTIONALITY\") {\n    throttleDecision = \"BLOCKED\";\n    throttleMessage = \"System is in RED state (Fatal Errors). Feature deployments are BLOCKED. Only Bug Fixes are permitted.\";\n  } else {\n    throttleMessage = \"System is in RED state. Bug Fix prioritized and proceeding.\";\n  }\n} else if (currentStatus === \"YELLOW\") {\n  if (intent === \"FUNCTIONALITY\") {\n    throttleDecision = \"DELAYED\";\n    throttleMessage = \"System is in YELLOW state (Elevated Warnings). Feature deployment throttled (delayed by 60 seconds).\";\n  } else {\n    throttleMessage = \"System is in YELLOW state. Bug Fix proceeding normally.\";\n  }\n}\nreturn [{ json: { ...stateManager, throttle_decision: throttleDecision, throttle_message: throttleMessage, system_status: currentStatus, intent: intent } }];"
      },
      "id": "f512dbb9-6b5d-4f11-9ab0-9b4ef0f9ebc7",
      "name": "Throttling Evaluator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1008,
        208
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.throttle_decision }}",
                    "rightValue": "PROCEED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "PROCEED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.throttle_decision }}",
                    "rightValue": "DELAYED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "DELAYED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.throttle_decision }}",
                    "rightValue": "BLOCKED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "BLOCKED"
            }
          ]
        },
        "options": {}
      },
      "id": "42d3c909-543e-48a5-ab65-c3ccdf9e7d98",
      "name": "Throttle Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1232,
        192
      ]
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "id": "cd972eb0-ec9a-4c22-b8e7-0bd5c5f88b43",
      "name": "Throttle Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1456,
        208
      ],
      "webhookId": "d83d05c7-f947-47ff-a965-909f7d06bd98"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.googleapis.com/v1/spaces/AAQAQxcghNA/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=gr9imhTgfAXF0zNK8TrwWFnw2K0QfPsL41igSuuoFEw",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"cardsV2\": [ { \"cardId\": \"l2laaf_blocked_gate\", \"card\": { \"header\": { \"title\": \"\u26d4 L2LAAF Deployment BLOCKED: Phase \" + $json.updated_state.current_phase }, \"sections\": [{ \"widgets\": [ { \"textParagraph\": { \"text\": \"<b>Originator:</b><br>\" + ($json.meta.method || \"UNKNOWN\") + \"<br><br><b>Status:</b><br>\" + ($json.system_status === \"GREEN\" ? \"\ud83d\udfe2  \" : ($json.system_status === \"YELLOW\" ? \"\ud83d\udfe1  \" : \"\ud83d\udd34  \")) + $json.system_status + \"<br><br><b>Intent:</b><br>\" + $json.intent } }, { \"decoratedText\": { \"topLabel\": \"Reason\", \"text\": $json.throttle_message, \"wrapText\": true } }, { \"decoratedText\": { \"topLabel\": \"Blocked Payload\", \"text\": $json.meta.summary, \"wrapText\": true } } ] }] } } ] } }}",
        "options": {}
      },
      "id": "1ab4792c-67ad-4560-912b-b9d9df3c0e14",
      "name": "Blocked Chat Card",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1680,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.googleapis.com/v1/spaces/AAQAQxcghNA/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=gr9imhTgfAXF0zNK8TrwWFnw2K0QfPsL41igSuuoFEw",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"cardsV2\": [ { \"cardId\": \"l2laaf_deploy_gate\", \"card\": { \"header\": { \"title\": \"\ud83d\ude80 L2LAAF Deployment: Phase \" + $json.updated_state.current_phase }, \"sections\": [{ \"widgets\": [ { \"textParagraph\": { \"text\": \"<b>Originator:</b><br>\" + ($json.meta.method || \"UNKNOWN\") + \"<br><br><b>Status:</b><br>\" + ($json.system_status === \"GREEN\" ? \"\ud83d\udfe2  \" : ($json.system_status === \"YELLOW\" ? \"\ud83d\udfe1  \" : \"\ud83d\udd34  \")) + $json.system_status + \"<br><br><b>Intent:</b><br>\" + $json.intent } }, { \"decoratedText\": { \"topLabel\": \"Build Details\", \"text\": $json.meta.summary, \"wrapText\": true } }, { \"decoratedText\": { \"topLabel\": \"Throttle Evaluation\", \"text\": $json.throttle_message, \"wrapText\": true } }, { \"buttonList\": { \"buttons\": [{ \"text\": \"PROMOTE TO PROD\", \"onClick\": { \"openLink\": { \"url\": \"https://local2local.app.n8n.cloud/webhook/ea64f359-a428-46e4-9dc1-d5c643f385eb?action=approve&env=\" + $json.updated_state.active_environment + \"&build_id=\" + ($json.meta.build_id || $json.meta.correlation_id || \"unknown\") + \"&phase=\" + $json.updated_state.current_phase + \"&hbrId=\" + ($json.meta.hbrId || $json.meta.payload?.manifest?.hbrId || \"manual\") } } }, { \"text\": \"KEEP IN DEV\", \"onClick\": { \"openLink\": { \"url\": \"https://local2local.app.n8n.cloud/webhook/ea64f359-a428-46e4-9dc1-d5c643f385eb?action=decline&env=\" + $json.updated_state.active_environment + \"&build_id=\" + ($json.meta.build_id || $json.meta.correlation_id || \"unknown\") + \"&phase=\" + $json.updated_state.current_phase + \"&hbrId=\" + ($json.meta.hbrId || $json.meta.payload?.manifest?.hbrId || \"manual\") } } }] } }] }] } } ] } }}",
        "options": {}
      },
      "id": "893b160b-80bc-47e2-89fc-a7e112d711a3",
      "name": "Google Chat Card",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1680,
        0
      ]
    },
    {
      "parameters": {
        "path": "ea64f359-a428-46e4-9dc1-d5c643f385eb",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "5cb8107c-9b51-40e8-8a8b-12d8cf129bb8",
      "name": "Approval Listener",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        112,
        688
      ],
      "webhookId": "ea64f359-a428-46e4-9dc1-d5c643f385eb"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<html><body style=\"background:#0f172a;color:white;display:flex;justify-content:center;align-items:center;height:100vh;\"><div style=\"text-align:center;padding:2rem;background:#1e293b;border-radius:1rem;border:1px solid #334155;\"><h1>MISSION REGISTERED</h1><p>Audit complete. Decisions saved.</p><script>setTimeout(()=>window.close(), 1000);</script></div></body></html>",
        "options": {}
      },
      "id": "a67d028e-5b12-4d6b-b2eb-d1cf82e17cb9",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        336,
        592
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://firestore.googleapis.com/v1/projects/\" + ($('Approval Listener').first().json.query.env === 'prod' ? 'local2local-prod' : 'local2local-dev') + \"/databases/(default)/documents/artifacts/local2local-kaskflow/public/data:runQuery\" }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"structuredQuery\": { \"from\": [ { \"collectionId\": \"agent_bus\" } ], \"where\": { \"fieldFilter\": { \"field\": { \"fieldPath\": \"correlation_id\" }, \"op\": \"EQUAL\", \"value\": { \"stringValue\": $('Approval Listener').first().json.query.build_id } } }, \"limit\": 1 } } }}",
        "options": {}
      },
      "id": "e2c34a9b-6d8b-4b72-b8ec-f2307c8d9e2a",
      "name": "Fetch Proposal Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        336,
        784
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://logging.googleapis.com/v2/entries:list",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"resourceNames\": [ \"projects/\" + ($('Approval Listener').first().json.query.env === 'prod' ? 'local2local-prod' : 'local2local-dev') ], \"filter\": \"textPayload:\\\"Null check operator used on a null value\\\"\", \"pageSize\": 10 } }}",
        "options": {}
      },
      "id": "3b2a1c9d-8e7f-4b60-91c8-e3df5a6b7c89",
      "name": "Log Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        560,
        784
      ],
      "credentials": {
        "googleApi": {
          "id": "NlT4tfnPyrdMF8jv",
          "name": "GCP Orchestrator Admin"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/local2local/local2local/contents/.l2laaf/state.json?ref=develop",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "7c8b9a1d-2e4f-4a70-8b1c-d5e3f7a8b9c0",
      "name": "Fetch Latest State",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        784,
        784
      ],
      "credentials": {
        "githubApi": {
          "id": "6OSt2bN1T5JeIKvt",
          "name": "GitHub L2LAAF Admin (n8n-l2laaf-orchestrator)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return (async () => {\n  const stateNode = $(\"Fetch Latest State\").first();\n  let stateRaw = stateNode.json?.content || null;\n  if (stateRaw) {\n    stateRaw = Buffer.from(stateRaw, 'base64').toString('utf8');\n  }\n  if (!stateRaw || stateRaw === \"undefined\") throw new Error(\"FATAL: state.json content is missing or undefined.\");\n  let state;\n  try { state = JSON.parse(stateRaw); } catch (e) { state = JSON.parse(Buffer.from(stateRaw, 'base64').toString('utf8')); }\n  const action = $(\"Approval Listener\").first().json.query.action;\n  const approvedPhase = $(\"Approval Listener\").first().json.query.phase;\n  const rawHbrId = $(\"Approval Listener\").first().json.query.hbrId;\n  const buildId = $(\"Approval Listener\").first().json.query.build_id;\n  let filePath = \"\"; let fileContent = \"\"; let extractedReason = \"\";\n  try {\n    const resp = $(\"Fetch Proposal Data\").first().json;\n    let firestoreData = {};\n    if (Array.isArray(resp) && resp.length > 0 && resp[0].document) firestoreData = resp[0].document;\n    else if (resp && resp.document) firestoreData = resp.document;\n    else if (resp && resp.fields) firestoreData = resp;\n    const payloadFields = firestoreData.fields?.payload?.mapValue?.fields?.manifest?.mapValue?.fields || {};\n    if (payloadFields.targetPath?.stringValue) filePath = payloadFields.targetPath.stringValue;\n    if (payloadFields.proposedLogic?.stringValue) fileContent = payloadFields.proposedLogic.stringValue;\n    if (payloadFields.reason?.stringValue) extractedReason = payloadFields.reason.stringValue;\n  } catch (e) { console.log(\"Missing payload file data\"); }\n  let originalMeta = {};\n  try { originalMeta = $(\"State Manager\").first().json.meta || {}; } catch (e) {}\n  let updatedState = { ...state }; \n  if (approvedPhase) { updatedState.current_phase = approvedPhase; }\n  const logResponse = $(\"Log Scraper\").first().json || {}; \n  let auditPassed = (logResponse.entries || []).length === 0 && action !== 'decline';\n  let notificationText = action === 'decline' ? \"\ud83d\uded1 Phase \" + updatedState.current_phase + \" DECLINED.\" : (auditPassed ? \"\u2705 Phase \" + updatedState.current_phase + \" PROMOTED from \" + state.current_phase + \".\" : \"\u274c Phase \" + updatedState.current_phase + \" FAILED AUDIT.\");\n  if (auditPassed) {\n    updatedState.approval_gate = updatedState.approval_gate || {};\n    updatedState.approval_gate.pending = false;\n    updatedState.approval_gate.status = \"PROMOTED\";\n  }\n  const isProposal = !!rawHbrId && !['', 'undefined', 'null'].includes(rawHbrId);\n  \n  let finalFilePath = originalMeta.filePath || filePath;\n  \n  if (!finalFilePath || finalFilePath === 'null' || finalFilePath.includes('does_not_exist')) { \n    finalFilePath = 'IGNORE'; \n  } else { \n    finalFilePath = finalFilePath.trim().replace(/^\\/+/, ''); \n  }\n  \n  let finalFileContent = originalMeta.fileContent || fileContent;\n  if (!finalFileContent || finalFileContent === 'null') finalFileContent = '';\n  \n  let summary = extractedReason || originalMeta.summary || \"No reason provided.\";\n  \n  return [{ json: {\n    audit_passed: auditPassed, \n    updated_state: updatedState, \n    notification_text: notificationText,\n    is_proposal: isProposal, \n    hbrId: rawHbrId || '', \n    buildId: buildId,\n    filePath: finalFilePath, \n    fileContent: finalFileContent,\n    reason: summary\n  } }];\n})();"
      },
      "id": "1d2e3f4a-5b6c-4870-9b8a-e7c6d5b4a3f2",
      "name": "Automated Testing Suite",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1008,
        784
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
              "leftValue": "={{ $json.filePath }}",
              "rightValue": "IGNORE",
              "operator": {
                "type": "string",
                "operation": "notEquals",
                "name": "filter.operator.notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f2e3d4c5-b6a7-4870-891a-c7d5b4e3f2a1",
      "name": "Payload Filter",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1232,
        784
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"systemInstruction\": { \"parts\": [ { \"text\": \"You are the L2LAAF Autonomous Orchestrator. Fix the provided code based on the error or request. Return ONLY the raw code. NO markdown formatting, NO backticks, NO explanations.\" } ] }, \"contents\": [ { \"parts\": [ { \"text\": \"File Path: \" + $json.filePath + \"\\n\\nReason: \" + $json.reason + \"\\n\\nCode:\\n\" + $json.fileContent } ] } ] } }}",
        "options": {}
      },
      "id": "gemini-code-fixer-node",
      "name": "Gemini Code Fixer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1456,
        704
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "NyCBf5o0sZZnldfu",
          "name": "Gemini API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nlet rawCode = '';\ntry {\n  const candidates = Reflect.get(response, 'candidates');\n  if (candidates && candidates.length > 0) {\n    const content = Reflect.get(candidates[0], 'content');\n    if (content) {\n      const parts = Reflect.get(content, 'parts');\n      if (parts && parts.length > 0) {\n        rawCode = Reflect.get(parts[0], 'text') || '';\n      }\n    }\n  }\n} catch (e) {\n  // Silent fail, rawCode defaults to ''\n}\nrawCode = rawCode.replace(/^\\x60\\x60\\x60[a-z]*\\n/i, '').replace(/\\n\\x60\\x60\\x60$/i, '').trim();\nreturn [{ json: { ...$('Automated Testing Suite').first().json, fileContent: rawCode } }];"
      },
      "id": "extract-gemini-code-node",
      "name": "Extract Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1680,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "const suite = $('Automated Testing Suite').first().json;\nconst extract = $('Extract Code').first().json;\nif (suite.filePath === 'IGNORE') return [];\nconst encodedContent = Buffer.from(extract.fileContent || '').toString('base64');\nconst commitMessage = suite.updated_state.current_phase + ' - [AUTO] FEAT(evolution): Autonomous code mutation';\nreturn [{ json: { ...extract, encodedContent, commitMessage } }];"
      },
      "id": "prepare-mutate-payload-node",
      "name": "Prepare Mutate Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1904,
        704
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://api.github.com/repos/local2local/local2local/contents/' + $('Automated Testing Suite').first().json.filePath + '?ref=develop' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "get-logic-sha",
      "name": "Get Logic SHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2128,
        704
      ],
      "credentials": {
        "githubApi": {
          "id": "6OSt2bN1T5JeIKvt",
          "name": "GitHub L2LAAF Admin (n8n-l2laaf-orchestrator)"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://api.github.com/repos/local2local/local2local/contents/' + $('Automated Testing Suite').first().json.filePath }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ Object.assign({ message: $('Prepare Mutate Payload').first().json.commitMessage, content: $('Prepare Mutate Payload').first().json.encodedContent, branch: 'develop' }, $('Get Logic SHA').first().json.sha ? { sha: $('Get Logic SHA').first().json.sha } : {}) }}",
        "options": {}
      },
      "id": "mutate-logic-http",
      "name": "GitHub: Mutate Logic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2352,
        704
      ],
      "credentials": {
        "githubApi": {
          "id": "6OSt2bN1T5JeIKvt",
          "name": "GitHub L2LAAF Admin (n8n-l2laaf-orchestrator)"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "d6e7f8a9-b1c2-4870-891a-b3c5d4e2f1a6",
      "name": "Sync Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2576,
        704
      ],
      "webhookId": "d8f6ca36-baf8-4b7d-8032-f4def3f04538"
    },
    {
      "parameters": {
        "jsCode": "const suite = $('Automated Testing Suite').first().json;\nconst encodedContent = Buffer.from(JSON.stringify(suite.updated_state, null, 2)).toString('base64');\nconst commitMessage = suite.updated_state.current_phase + ' - [AUTO] CHORE(orchestration): Promote phase to prod';\nreturn [{ json: { encodedContent, commitMessage } }];"
      },
      "id": "prepare-state-payload-node",
      "name": "Prepare State Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2800,
        784
      ]
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/local2local/local2local/contents/.l2laaf/state.json?ref=develop",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "get-state-sha",
      "name": "Get State SHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3024,
        784
      ],
      "credentials": {
        "githubApi": {
          "id": "6OSt2bN1T5JeIKvt",
          "name": "GitHub L2LAAF Admin (n8n-l2laaf-orchestrator)"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/local2local/local2local/contents/.l2laaf/state.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ Object.assign({ message: $('Prepare State Payload').first().json.commitMessage, content: $('Prepare State Payload').first().json.encodedContent, branch: 'develop' }, $('Get State SHA').first().json.sha ? { sha: $('Get State SHA').first().json.sha } : {}) }}",
        "options": {}
      },
      "id": "update-state-http",
      "name": "GitHub: Update State",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3248,
        784
      ],
      "credentials": {
        "githubApi": {
          "id": "6OSt2bN1T5JeIKvt",
          "name": "GitHub L2LAAF Admin (n8n-l2laaf-orchestrator)"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Automated Testing Suite').first().json.is_proposal }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Automated Testing Suite').first().json.is_proposal }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "id": "e8f7a6b5-c4d3-4170-8b9a-e1f2d3c5b4a6",
      "name": "Proposal Closure Check",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        3472,
        784
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://firestore.googleapis.com/v1/projects/\" + ($('Approval Listener').first().json.query.env === 'prod' ? 'local2local-prod' : 'local2local-dev') + \"/databases/(default)/documents/artifacts/local2local-kaskflow/public/data/logic_proposals\" }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"fields\": { \"status\": { \"stringValue\": \"PROMOTED\" }, \"hbrId\": { \"stringValue\": $('Automated Testing Suite').first().json.hbrId || \"\" }, \"buildId\": { \"stringValue\": $('Automated Testing Suite').first().json.buildId || \"\" }, \"phase\": { \"stringValue\": $('Automated Testing Suite').first().json.updated_state.current_phase || \"\" } } } }}",
        "options": {}
      },
      "id": "c1d2e3f4-a5b6-4870-981a-b7c6d5e4f3a2",
      "name": "Trigger Firestore Closure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3696,
        704
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.googleapis.com/v1/spaces/AAQAQxcghNA/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=gr9imhTgfAXF0zNK8TrwWFnw2K0QfPsL41igSuuoFEw",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"text\": $('Automated Testing Suite').first().json.action === 'decline' ? \"\ud83d\uddc3\ufe0f Phase \" + $('Automated Testing Suite').first().json.updated_state.current_phase + \" kept in dev. This change remains in git history and can be cherry-picked into a future version. To view all abandoned versions, check Firestore collection `artifacts/system_status/public/data/abandoned_phases` in the local2local-dev GCP project. This can be viewed in the SuperAdmin dashboard in the dev environment.\" : \"\u2705 Phase \" + $('Automated Testing Suite').first().json.updated_state.current_phase + \" promoted to prod. This merged the tested 'develop' branch to the 'main' branch and deployed to local2local-prod.\" } }}",
        "options": {}
      },
      "id": "a5b6c7d8-e9f0-4170-8b1a-c3d4e5f6a7b8",
      "name": "Final Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3920,
        784
      ]
    }
  ],
  "pinData": {
    "Approval Listener": [
      {
        "json": {
          "headers": {
            "host": "local2local.app.n8n.cloud",
            "user-agent": "Mozilla/5.0 (iPhone; CPU iPhone OS 18_7 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/26.4 Mobile/15E148 Safari/604.1",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8",
            "accept-encoding": "gzip, br",
            "accept-language": "en-US,en;q=0.9",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2a09:bac3:13c0:2b4::45:10a",
            "cf-ew-via": "15",
            "cf-ipcountry": "CA",
            "cf-ray": "9f2004269ecc5a49-YVR",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "priority": "u=0, i",
            "sec-fetch-dest": "document",
            "sec-fetch-mode": "navigate",
            "sec-fetch-site": "none",
            "x-forwarded-for": "2a09:bac3:13c0:2b4::45:10a, 162.159.102.17",
            "x-forwarded-host": "local2local.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-74-6649cf98c6-cf6pz",
            "x-is-trusted": "yes",
            "x-real-ip": "2a09:bac3:13c0:2b4::45:10a"
          },
          "params": {},
          "query": {
            "action": "approve",
            "env": "develop",
            "build_id": "24939616732",
            "phase": "43.1.4",
            "hbrId": "undefined"
          },
          "webhookUrl": "https://local2local.app.n8n.cloud/webhook/approve-promotion",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "MCP Code Payload": {
      "main": [
        [
          {
            "node": "Fetch Main State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Main State": {
      "main": [
        [
          {
            "node": "State Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "State Manager": {
      "main": [
        [
          {
            "node": "Fetch System Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch System Status": {
      "main": [
        [
          {
            "node": "Throttling Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Throttling Evaluator": {
      "main": [
        [
          {
            "node": "Throttle Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Throttle Switch": {
      "main": [
        [
          {
            "node": "Google Chat Card",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Throttle Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Blocked Chat Card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Throttle Wait": {
      "main": [
        [
          {
            "node": "Google Chat Card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approval Listener": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Proposal Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Proposal Data": {
      "main": [
        [
          {
            "node": "Log Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Scraper": {
      "main": [
        [
          {
            "node": "Fetch Latest State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Latest State": {
      "main": [
        [
          {
            "node": "Automated Testing Suite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Automated Testing Suite": {
      "main": [
        [
          {
            "node": "Payload Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payload Filter": {
      "main": [
        [
          {
            "node": "Gemini Code Fixer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare State Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Code Fixer": {
      "main": [
        [
          {
            "node": "Extract Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Code": {
      "main": [
        [
          {
            "node": "Prepare Mutate Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Mutate Payload": {
      "main": [
        [
          {
            "node": "Get Logic SHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Logic SHA": {
      "main": [
        [
          {
            "node": "GitHub: Mutate Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: Mutate Logic": {
      "main": [
        [
          {
            "node": "Sync Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Wait": {
      "main": [
        [
          {
            "node": "Prepare State Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare State Payload": {
      "main": [
        [
          {
            "node": "Get State SHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get State SHA": {
      "main": [
        [
          {
            "node": "GitHub: Update State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: Update State": {
      "main": [
        [
          {
            "node": "Proposal Closure Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Proposal Closure Check": {
      "main": [
        [
          {
            "node": "Trigger Firestore Closure",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Final Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Firestore Closure": {
      "main": [
        [
          {
            "node": "Final Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "versionId": "87b92a31-6dbc-4bac-97ff-550c37143710",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "261923412a3ee3006949a29e9b78a6fe94c5bdde95bd10a5978cc61dac3a65e0"
  },
  "id": "ThWtTTPTR4ymYD6a",
  "tags": []
}