n8n_workflows/n8n_workflow.json
{
  "name": "L2LAAF: Autonomous Orchestrator",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "content": "## 🤖 L2LAAF Orchestrator\n**Phase:** 42.1.18\n**Commit:** fix(cicd): revert to POST activate endpoint to resolve 405 Method Not Allowed error v11.42.1.18",
        "height": 150,
        "width": 350,
        "color": 6
      },
      "id": "9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [100, 100]
    },
    { "parameters": { "httpMethod": "POST", "path": "l2laaf-payload-trigger", "options": {} }, "id": "f8a44b1c-9e62-4299-90b5-4db9d51e7c02", "name": "MCP Code Payload", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [100, 300] },
    { "parameters": { "resource": "file", "operation": "get", "owner": "local2local", "repository": "local2local", "filePath": ".l2laaf/state.json", "reference": "develop" }, "id": "c7e2b1fa-8a56-4f40-811a-6d0e9a7e6b03", "name": "Fetch Main State", "type": "n8n-nodes-base.github", "typeVersion": 1, "position": [300, 300], "credentials": { "githubApi": { "id": "6OSt2bN1T5JeIKvt", "name": "GitHub L2LAAF Admin" } } },
    { "parameters": { "jsCode": "return (async () => {\n  const webhookNode = $(\"MCP Code Payload\").first();\n  const meta = webhookNode.json?.body || webhookNode.json || {};\n  if (meta.commits || meta.pusher) return [];\n  const stateNode = $(\"Fetch Main State\").first();\n  let stateRaw = null;\n  if (stateNode.json && typeof stateNode.json.content === 'string') { stateRaw = stateNode.json.content; }\n  if (!stateRaw && stateNode.binary && stateNode.binary.data) {\n    const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n    stateRaw = buffer.toString('utf8');\n  }\n  if (!stateRaw || stateRaw === \"undefined\") throw new Error(\"FATAL: state.json content is missing.\");\n  let state;\n  try { state = JSON.parse(stateRaw); } catch (e) { state = JSON.parse(Buffer.from(stateRaw, 'base64').toString('utf8')); }\n  let updatedState = { ...state };\n  updatedState.current_phase = (meta.incoming_phase || state.current_phase || \"42.1.18\").toString();\n  return [{ json: { updated_state: updatedState, meta: meta } }];\n})();" }, "id": "b25c3891-76a0-4b21-8f5d-1c8a5f3e9b04", "name": "State Manager", "type": "n8n-nodes-base.code", "typeVersion": 1, "position": [500, 300] },
    { "parameters": { "method": "GET", "url": "={{ `https://firestore.googleapis.com/v1/projects/${$json.meta.env === 'prod' ? 'local2local-prod' : 'local2local-dev'}/databases/(default)/documents/artifacts/system_status/public/data/telemetry` }}", "sendBody": false, "options": {} }, "id": "2bc59b88-1250-4824-b152-dc72de6f3d1b", "name": "Fetch System Status", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [700, 300] },
    { "parameters": { "jsCode": "const stateManager = $(\"State Manager\").first().json;\nconst systemStatusData = $(\"Fetch System Status\").first().json || {};\nlet currentStatus = \"GREEN\";\nif (systemStatusData.documents && Array.isArray(systemStatusData.documents)) {\n  const currentDoc = systemStatusData.documents.find(doc => doc.name.endsWith('telemetry/current'));\n  if (currentDoc && currentDoc.fields && currentDoc.fields.status) {\n    currentStatus = currentDoc.fields.status.stringValue || \"GREEN\";\n  }\n}\nconst summary = stateManager.meta?.summary || \"\";\nconst isBugFix = summary.toLowerCase().startsWith(\"fix\") || summary.toLowerCase().startsWith(\"hotfix\");\nconst intent = isBugFix ? \"BUG_FIX\" : \"FUNCTIONALITY\";\nlet throttleDecision = \"PROCEED\";\nlet throttleMessage = \"Proceeding with deployment.\";\nif (currentStatus === \"RED\") {\n  if (intent === \"FUNCTIONALITY\") {\n    throttleDecision = \"BLOCKED\";\n    throttleMessage = \"System is in RED state (Fatal Errors). Feature deployments are BLOCKED. Only Bug Fixes are permitted.\";\n  } else {\n    throttleMessage = \"System is in RED state. Bug Fix prioritized and proceeding.\";\n  }\n} else if (currentStatus === \"YELLOW\") {\n  if (intent === \"FUNCTIONALITY\") {\n    throttleDecision = \"DELAYED\";\n    throttleMessage = \"System is in YELLOW state (Elevated Warnings). Feature deployment throttled (delayed by 60 seconds).\";\n  } else {\n    throttleMessage = \"System is in YELLOW state. Bug Fix proceeding normally.\";\n  }\n}\nreturn [{ json: { ...stateManager, throttle_decision: throttleDecision, throttle_message: throttleMessage, system_status: currentStatus, intent: intent } }];" }, "id": "f512dbb9-6b5d-4f11-9ab0-9b4ef0f9ebc7", "name": "Throttling Evaluator", "type": "n8n-nodes-base.code", "typeVersion": 1, "position": [900, 300] },
    { "parameters": { "rules": { "values": [ { "conditions": { "options": { "caseSensitive": true, "typeValidation": "strict" }, "conditions": [{ "leftValue": "={{ $json.throttle_decision }}", "rightValue": "PROCEED", "operator": { "type": "string", "operation": "equals" } }] }, "renameOutput": true, "outputKey": "PROCEED" }, { "conditions": { "options": { "caseSensitive": true, "typeValidation": "strict" }, "conditions": [{ "leftValue": "={{ $json.throttle_decision }}", "rightValue": "DELAYED", "operator": { "type": "string", "operation": "equals" } }] }, "renameOutput": true, "outputKey": "DELAYED" }, { "conditions": { "options": { "caseSensitive": true, "typeValidation": "strict" }, "conditions": [{ "leftValue": "={{ $json.throttle_decision }}", "rightValue": "BLOCKED", "operator": { "type": "string", "operation": "equals" } }] }, "renameOutput": true, "outputKey": "BLOCKED" } ] } }, "id": "42d3c909-543e-48a5-ab65-c3ccdf9e7d98", "name": "Throttle Switch", "type": "n8n-nodes-base.switch", "typeVersion": 3, "position": [1100, 300] },
    { "parameters": { "amount": 1, "unit": "minutes" }, "id": "cd972eb0-ec9a-4c22-b8e7-0bd5c5f88b43", "name": "Throttle Wait", "type": "n8n-nodes-base.wait", "typeVersion": 1, "position": [1300, 300] },
    { "parameters": { "method": "POST", "url": "https://chat.googleapis.com/v1/spaces/AAQAQxcghNA/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=gr9imhTgfAXF0zNK8TrwWFnw2K0QfPsL41igSuuoFEw", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ { \"cardsV2\": [ { \"cardId\": \"l2laaf_blocked_gate\", \"card\": { \"header\": { \"title\": \"⛔ L2LAAF Deployment BLOCKED\", \"subtitle\": \"Phase \" + $json.updated_state.current_phase }, \"sections\": [{ \"widgets\": [{ \"decoratedText\": { \"topLabel\": \"Reason\", \"text\": $json.throttle_message, \"wrapText\": true } }, { \"decoratedText\": { \"topLabel\": \"Blocked Payload\", \"text\": $json.meta.summary, \"wrapText\": true } }] }] } } ] } }}", "options": {} }, "id": "1ab4792c-67ad-4560-912b-b9d9df3c0e14", "name": "Blocked Chat Card", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [1300, 500] },
    { "parameters": { "method": "POST", "url": "https://chat.googleapis.com/v1/spaces/AAQAQxcghNA/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=gr9imhTgfAXF0zNK8TrwWFnw2K0QfPsL41igSuuoFEw", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ { \"cardsV2\": [ { \"cardId\": \"l2laaf_deploy_gate\", \"card\": { \"header\": { \"title\": \"🚀 L2LAAF Deployment: Phase \" + $json.updated_state.current_phase, \"subtitle\": \"Status: \" + $json.system_status + \" | Intent: \" + $json.intent }, \"sections\": [{ \"widgets\": [{ \"decoratedText\": { \"topLabel\": \"Build Details\", \"text\": $json.meta.summary, \"wrapText\": true } }, { \"decoratedText\": { \"topLabel\": \"Throttle Evaluation\", \"text\": $json.throttle_message, \"wrapText\": true } }, { \"buttonList\": { \"buttons\": [{ \"text\": \"APPROVE\", \"onClick\": { \"openLink\": { \"url\": \"https://local2local.app.n8n.cloud/webhook/approve-promotion?action=approve&env=\" + $json.updated_state.active_environment + \"&build_id=\" + $json.meta.build_id + \"&phase=\" + $json.updated_state.current_phase + \"&hbrId=\" + $json.meta.hbrId } } }, { \"text\": \"DECLINE\", \"onClick\": { \"openLink\": { \"url\": \"https://local2local.app.n8n.cloud/webhook/approve-promotion?action=decline&env=\" + $json.updated_state.active_environment + \"&build_id=\" + $json.meta.build_id + \"&phase=\" + $json.updated_state.current_phase + \"&hbrId=\" + $json.meta.hbrId } } }] } }] }] } } ] } }}", "options": {} }, "id": "893b160b-80bc-47e2-89fc-a7e112d711a3", "name": "Google Chat Card", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [1550, 150] },
    { "parameters": { "path": "approve-promotion", "responseMode": "responseNode", "options": {} }, "id": "5cb8107c-9b51-40e8-8a8b-12d8cf129bb8", "name": "Approval Listener", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [100, 900] },
    { "parameters": { "respondWith": "text", "responseBody": "<html><body style=\"background:#0f172a;color:white;display:flex;justify-content:center;align-items:center;height:100vh;\"><div style=\"text-align:center;padding:2rem;background:#1e293b;border-radius:1rem;border:1px solid #334155;\"><h1>MISSION REGISTERED</h1><p>Audit complete. Decisions saved.</p><script>setTimeout(()=>window.close(), 1000);</script></div></body></html>", "options": {} }, "id": "a67d028e-5b12-4d6b-b2eb-d1cf82e17cb9", "name": "Respond to Webhook", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [300, 800] },
    { "parameters": { "method": "POST", "url": "=\"https://firestore.googleapis.com/v1/projects/\" + ($('Approval Listener').first().json.query.env === 'prod' ? 'local2local-prod' : 'local2local-dev') + \"/databases/(default)/documents/artifacts/local2local-kaskflow/public/data:runQuery\"", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ { \"structuredQuery\": { \"from\": [ { \"collectionId\": \"agent_bus\" } ], \"where\": { \"fieldFilter\": { \"field\": { \"fieldPath\": \"correlation_id\" }, \"op\": \"EQUAL\", \"value\": { \"stringValue\": $('Approval Listener').first().json.query.build_id } } }, \"limit\": 1 } } }}", "options": { "ignoreResponseCode": true } }, "id": "e2c34a9b-6d8b-4b72-b8ec-f2307c8d9e2a", "name": "Fetch Proposal Data", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [300, 950], "continueOnFail": true },
    { "parameters": { "method": "POST", "url": "https://logging.googleapis.com/v2/entries:list", "authentication": "predefinedCredentialType", "nodeCredentialType": "googleApi", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ { \"resourceNames\": [ \"projects/\" + ($('Approval Listener').first().json.query.env === 'prod' ? 'local2local-prod' : 'local2local-dev') ], \"filter\": \"textPayload:\\\"Null check operator used on a null value\\\"\", \"pageSize\": 10 } }}", "options": {} }, "id": "3b2a1c9d-8e7f-4b60-91c8-e3df5a6b7c89", "name": "Log Scraper", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [500, 1000], "credentials": { "googleApi": { "id": "NlT4tfnPyrdMF8jv", "name": "GCP Orchestrator Admin" } } },
    { "parameters": { "resource": "file", "operation": "get", "owner": "local2local", "repository": "local2local", "filePath": ".l2laaf/state.json", "reference": "develop" }, "id": "7c8b9a1d-2e4f-4a70-8b1c-d5e3f7a8b9c0", "name": "Fetch Latest State", "type": "n8n-nodes-base.github", "typeVersion": 1, "position": [700, 1000], "credentials": { "githubApi": { "id": "6OSt2bN1T5JeIKvt", "name": "GitHub L2LAAF Admin" } } },
    { "parameters": { "jsCode": "return (async () => {\n  const stateNode = $(\"Fetch Latest State\").first();\n  let stateRaw = null;\n  if (stateNode.json && typeof stateNode.json.content === 'string') { stateRaw = stateNode.json.content; }\n  if (!stateRaw && stateNode.binary && stateNode.binary.data) {\n    const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n    stateRaw = buffer.toString('utf8');\n  }\n  if (!stateRaw || stateRaw === \"undefined\") throw new Error(\"FATAL: state.json content is missing or undefined.\");\n  let state;\n  try { state = JSON.parse(stateRaw); } catch (e) { state = JSON.parse(Buffer.from(stateRaw, 'base64').toString('utf8')); }\n  const action = $(\"Approval Listener\").first().json.query.action;\n  const approvedPhase = $(\"Approval Listener\").first().json.query.phase;\n  const rawHbrId = $(\"Approval Listener\").first().json.query.hbrId;\n  const buildId = $(\"Approval Listener\").first().json.query.build_id;\n  let filePath = \"\"; let fileContent = \"\";\n  try {\n    const resp = $(\"Fetch Proposal Data\").first().json;\n    let firestoreData = {};\n    if (Array.isArray(resp) && resp.length > 0 && resp[0].document) firestoreData = resp[0].document;\n    else if (resp && resp.document) firestoreData = resp.document;\n    else if (resp && resp.fields) firestoreData = resp;\n    const payloadFields = firestoreData.fields?.payload?.mapValue?.fields?.manifest?.mapValue?.fields || {};\n    if (payloadFields.targetPath?.stringValue) filePath = payloadFields.targetPath.stringValue;\n    if (payloadFields.proposedLogic?.stringValue) fileContent = payloadFields.proposedLogic.stringValue;\n  } catch (e) { console.log(\"Missing payload file data\"); }\n  let originalMeta = {};\n  try { originalMeta = $(\"State Manager\").first().json.meta || {}; } catch (e) {}\n  let updatedState = { ...state }; \n  if (approvedPhase) { updatedState.current_phase = approvedPhase; }\n  const logResponse = $(\"Log Scraper\").first().json || {}; \n  let auditPassed = (logResponse.entries || []).length === 0 && action !== 'decline';\n  let notificationText = action === 'decline' ? `🛑 Phase ${updatedState.current_phase} DECLINED.` : (auditPassed ? `✅ Phase ${updatedState.current_phase} PROMOTED from ${state.current_phase}.` : `❌ Phase ${updatedState.current_phase} FAILED AUDIT.`);\n  if (auditPassed) {\n    updatedState.approval_gate = updatedState.approval_gate || {};\n    updatedState.approval_gate.pending = false;\n    updatedState.approval_gate.status = \"PROMOTED\";\n  }\n  const isProposal = !!rawHbrId && !['', 'undefined', 'null'].includes(rawHbrId);\n  let finalFilePath = originalMeta.filePath || filePath;\n  if (!finalFilePath || finalFilePath === 'null') { finalFilePath = ''; } else { finalFilePath = finalFilePath.trim().replace(/^\\/+/, ''); }\n  let finalFileContent = originalMeta.fileContent || fileContent;\n  if (!finalFileContent || finalFileContent === 'null') finalFileContent = '';\n  return [{ json: {\n    audit_passed: auditPassed, updated_state: updatedState, notification_text: notificationText,\n    is_proposal: isProposal, hbrId: rawHbrId || '', buildId: buildId,\n    filePath: finalFilePath, fileContent: finalFileContent\n  } }];\n})();" }, "id": "1d2e3f4a-5b6c-4870-9b8a-e7c6d5b4a3f2", "name": "Automated Testing Suite", "type": "n8n-nodes-base.code", "typeVersion": 1, "position": [900, 1000] },
    { "parameters": { "rules": { "values": [ { "conditions": { "options": { "caseSensitive": true, "typeValidation": "strict" }, "conditions": [ { "leftValue": "={{ $json.filePath }}", "operator": { "type": "string", "operation": "notEmpty" } } ] } }, { "conditions": { "options": { "caseSensitive": true, "typeValidation": "strict" }, "conditions": [ { "leftValue": "={{ $json.filePath }}", "operator": { "type": "string", "operation": "isEmpty" } } ] } } ] } }, "id": "f2e3d4c5-b6a7-4870-891a-c7d5b4e3f2a1", "name": "Payload Filter", "type": "n8n-nodes-base.switch", "typeVersion": 3, "position": [1150, 900] },
    { "parameters": { "resource": "file", "operation": "edit", "owner": "local2local", "repository": "local2local", "filePath": "={{ $json.filePath }}", "fileContent": "={{ $json.fileContent }}", "commitMessage": "=feat(evolution): autonomous code mutation for phase {{ $json.updated_state.current_phase }}", "options": { "branch": "develop" } }, "id": "a3b4c5d6-e7f8-4170-9a8b-d5c3e2f1a4b5", "name": "GitHub: Mutate Logic", "type": "n8n-nodes-base.github", "typeVersion": 1, "position": [1350, 800], "credentials": { "githubApi": { "id": "6OSt2bN1T5JeIKvt", "name": "GitHub L2LAAF Admin" } }, "continueOnFail": true },
    { "parameters": { "amount": 2, "unit": "seconds" }, "id": "d6e7f8a9-b1c2-4870-891a-b3c5d4e2f1a6", "name": "Sync Wait", "type": "n8n-nodes-base.wait", "typeVersion": 1, "position": [1550, 800] },
    { "parameters": { "resource": "file", "operation": "edit", "owner": "local2local", "repository": "local2local", "filePath": ".l2laaf/state.json", "fileContent": "={{ JSON.stringify($json.updated_state || $('Automated Testing Suite').first().json.updated_state, null, 2) }}", "commitMessage": "=chore(orchestration): promote phase {{ $('Automated Testing Suite').first().json.updated_state.current_phase }} to STABLE", "options": { "branch": "develop" } }, "id": "b5a4c3d2-e1f2-4870-9b8a-c7d6e5f4a3b2", "name": "GitHub: Update State", "type": "n8n-nodes-base.github", "typeVersion": 1, "position": [1750, 900], "credentials": { "githubApi": { "id": "6OSt2bN1T5JeIKvt", "name": "GitHub L2LAAF Admin" } } },
    { "parameters": { "rules": { "values": [ { "conditions": { "options": { "caseSensitive": true, "typeValidation": "strict" }, "conditions": [ { "leftValue": "={{ $('Automated Testing Suite').first().json.is_proposal }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } } ] } }, { "conditions": { "options": { "caseSensitive": true, "typeValidation": "strict" }, "conditions": [ { "leftValue": "={{ $('Automated Testing Suite').first().json.is_proposal }}", "rightValue": false, "operator": { "type": "boolean", "operation": "equals" } } ] } } ] } }, "id": "e8f7a6b5-c4d3-4170-8b9a-e1f2d3c5b4a6", "name": "Proposal Closure Check", "type": "n8n-nodes-base.switch", "typeVersion": 3, "position": [2000, 900] },
    { "parameters": { "method": "POST", "url": "=\"https://firestore.googleapis.com/v1/projects/\" + ($('Approval Listener').first().json.query.env === 'prod' ? 'local2local-prod' : 'local2local-dev') + \"/databases/(default)/documents/artifacts/local2local-kaskflow/public/data/logic_proposals\"", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ { \"fields\": { \"status\": { \"stringValue\": \"PROMOTED\" }, \"hbrId\": { \"stringValue\": $('Automated Testing Suite').first().json.hbrId || \"\" }, \"buildId\": { \"stringValue\": $('Automated Testing Suite').first().json.buildId || \"\" }, \"phase\": { \"stringValue\": $('Automated Testing Suite').first().json.updated_state.current_phase || \"\" } } } }}", "options": {} }, "id": "c1d2e3f4-a5b6-4870-981a-b7c6d5e4f3a2", "name": "Trigger Firestore Closure", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [2200, 800] },
    { "parameters": { "method": "POST", "url": "https://chat.googleapis.com/v1/spaces/AAQAQxcghNA/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=gr9imhTgfAXF0zNK8TrwWFnw2K0QfPsL41igSuuoFEw", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ { \"text\": $('Automated Testing Suite').first().json.notification_text + \"\\n\" + ($('Approval Listener').first().json.query.env === 'prod' ? 'local2local-prod' : 'local2local-dev') + \" ⮕ Deployment Finalized.\" } }}", "options": {} }, "id": "a5b6c7d8-e9f0-4170-8b1a-c3d4e5f6a7b8", "name": "Final Alert", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [2400, 900] }
  ],
  "connections": {
    "MCP Code Payload": { "main": [[{ "node": "Fetch Main State", "type": "main", "index": 0 }]] },
    "Fetch Main State": { "main": [[{ "node": "State Manager", "type": "main", "index": 0 }]] },
    "State Manager": { "main": [[{ "node": "Fetch System Status", "type": "main", "index": 0 }]] },
    "Fetch System Status": { "main": [[{ "node": "Throttling Evaluator", "type": "main", "index": 0 }]] },
    "Throttling Evaluator": { "main": [[{ "node": "Throttle Switch", "type": "main", "index": 0 }]] },
    "Throttle Switch": {
      "main": [
        [{ "node": "Google Chat Card", "type": "main", "index": 0 }],
        [{ "node": "Throttle Wait", "type": "main", "index": 0 }],
        [{ "node": "Blocked Chat Card", "type": "main", "index": 0 }]
      ]
    },
    "Throttle Wait": { "main": [[{ "node": "Google Chat Card", "type": "main", "index": 0 }]] },
    "Approval Listener": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }, { "node": "Fetch Proposal Data", "type": "main", "index": 0 }]] },
    "Fetch Proposal Data": { "main": [[{ "node": "Log Scraper", "type": "main", "index": 0 }]] },
    "Log Scraper": { "main": [[{ "node": "Fetch Latest State", "type": "main", "index": 0 }]] },
    "Fetch Latest State": { "main": [[{ "node": "Automated Testing Suite", "type": "main", "index": 0 }]] },
    "Automated Testing Suite": { "main": [[{ "node": "Payload Filter", "type": "main", "index": 0 }]] },
    "Payload Filter": { "main": [ [{ "node": "GitHub: Mutate Logic", "type": "main", "index": 0 }], [{ "node": "GitHub: Update State", "type": "main", "index": 0 }] ] },
    "GitHub: Mutate Logic": { "main": [[{ "node": "Sync Wait", "type": "main", "index": 0 }]] },
    "Sync Wait": { "main": [[{ "node": "GitHub: Update State", "type": "main", "index": 0 }]] },
    "GitHub: Update State": { "main": [[{ "node": "Proposal Closure Check", "type": "main", "index": 0 }]] },
    "Proposal Closure Check": { "main": [ [{ "node": "Trigger Firestore Closure", "type": "main", "index": 0 }], [{ "node": "Final Alert", "type": "main", "index": 0 }] ] },
    "Trigger Firestore Closure": { "main": [[{ "node": "Final Alert", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  }
}